@import './utilis/variables';
@import './base';
@import './components/buttons';

@import './layouts/header';
@import './layouts/mobile-menu';
@import './layouts/hero';
@import './layouts/change';
@import './layouts/benefits';
@import './layouts/procedures';
@import './components/carousel-button';
@import './layouts/find';
@import './layouts/contacts';

@import './layouts/footer';
@import './layouts/modal';
@import './components/input';
@import './layouts/form-terms';