.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 32px;
    height: 53px;
    width: 219px;
    border: 2px solid var(--main-color);
    color: var(--primary-color-light);
    background-color: var(--main-color);
    padding: 16px 32px; 
}

.button:hover {
    border-color: var(--main-color);
    color: var(--primary-color-dark);
    background-color: transparent;
}