.carousel-button {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-color-dark);
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color-dark);
    &:hover {
            fill: var(--primary-color-light);
            background-color: var(--main-color);
            border: 1px solid var(--primary-color-light)
        }
}

.arrow-button {
    fill: var(--primary-color-dark);
    &__reverse {
            transform: rotate(180deg);
        }
}

.carousel-button:hover .arrow-button {
    fill: var(--primary-color-light);
}