.header {
        padding: 32px 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        @media screen and (min-width: $bp-tablet) {
                    backdrop-filter: blur(10px);
                    background: rgba(255, 255, 255, 0.25);
        }
    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    &__menu {
        display: none;
        @media screen and (min-width: $bp-tablet) {
                display: flex;
                gap: 56px;
            }
    }

    &__media {
        display: none;
        @media screen and (min-width: $bp-tablet) {
        display: flex;
        gap: 32px;
    }
    }
        &__socials {
            fill: var(--primary-color-dark);
            &:hover {
                fill: var(--main-color);
            }
        }
    
        &__link {
            color: var(--primary-color-dark);
            text-decoration: none;
            width: 67px;
            height: 21px;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            transition: color 0.2s;
    
            &:hover {
                color: var(--main-color);
                list-style-type: none;
            }
        }
        &__burger {
            display: flex;
                background-color: transparent;
                    border: none;
                    width: 20px;
                    height: 14px;
                    fill: var(--primary-color-light);
                @media screen and (min-width: $bp-tablet){
                display: none;
                }
        }
}


