.hero{
    &__section {
            background-image: url('../images/bkg-image-main.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding: 130px 0 130px 0;
            @media screen and (min-width: $bp-desktop) {
                    padding: 272px 0;
                }
                @media screen and (min-devise-pixel-retio: 2),
                (min-resolution:180dpi),
                (min-resolution:2dppx) {
                    background-position: center top;
                    background-image: url('../images/bkg-image-main@2x.jpg');
                }
        }
    &__container {
        @media screen and (max-width: $bp-tablet) {
            display: flex;
            margin: 0 30px;
            width: 400px;
            align-items: center;
            flex-direction: column;
            margin: 0 35px;
        }
    }
    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 16px;
        @media screen and (max-width: $bp-tablet){
            text-align: center;
            font-size: 12px;
        }
    }
    &__text {
            color: var(--secondary-color-brown);
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.5;
    }

}

