.hero{
    position: relative;
    &__section {
            background-image: url('../images/bkg-image-main.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center top;
            padding: 130px 0 130px 0;
                @media screen and (min-devise-pixel-retio: 2),
                (min-resolution:192dpi),
                (min-resolution:2dppx) {
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-image: linear-gradient(56.68deg, var (--primary-color-light) 20.92%, rgba(255, 255, 255, 0.78) 44.46%, rgba(255, 255, 255, 0.2) 58.9%, rgba(255, 255, 255, 0) 72.45%)
                    url('../images/bkg-image-main@2x.jpg');
                }
                    @media screen and (max-width: $bp-tablet) {
                            background-position: top;
                            background-attachment: scroll;
                            min-height: 100vh;
                            overflow: hidden
                    }

        }
    &__container {
        @media screen and (max-width: $bp-tablet) {
            position: absolute;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
    }
    &__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 16px;
        @media screen and (max-width: $bp-tablet){
            text-align: center;
            font-size: 12px;
        }
    }
    &__text {
            font-size: 11px;
            @media screen and (min-width: $bp-tablet) {
            color: var(--secondary-color-brown);
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.5;
            }
    }

}

