.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-light);
    transform: translateX(100%);
    transition: transform 0.3s;
    display: none;
    z-index: 33;

    &.is-open {
        transform: translateX(0);
        display: flex;
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 24px;
    }
}