:root {
    --main-color: #2B7FFF;
    --primary-color-light: #FFFFFF;
    --primary-color-dark: #011C44;
    --secondary-color-brown: #4a4a4a;
    --secondary-color-light-brown: #747272;
    --secondary-color-blue: #011f4a;
    --secondary-color-yellow: #ffd02b;

}
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
