.carousel-button {
    width: 44px;
        height: 44px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid var(--primary-color-dark);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-shrink: 0;
    &:hover {
            fill: var(--primary-color-light);
            background-color: var(--main-color);
            border: 1px solid var(--primary-color-light);
        }
        @media screen and (max-width: $bp-desktop){
            display: none;
        }
}

.arrow-button {
    fill: var(--primary-color-dark);
    &__reverse {
            transform: rotate(180deg);
        }
}

.carousel-button:hover .arrow-button {
    fill: var(--primary-color-light);
}