.pagination {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;

    &__button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        padding: 0;
        background-color: var(--secondary-color-light-brown);
    }

    &--active {
        background-color: var(--main-color);
    }
}