.procedures-card {
&__list {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 60px;
}

&__text {
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 118%;
}

&__cards {
    width: 344px;
    height: 456px;
    background: linear-gradient(180.05deg, rgba(1, 28, 68, 0) 48.53%,
            rgba(1, 28, 68, 0.725825) 84.61%,
            var(--primary-color-dark) 101.39%);
    position: relative;
    overflow: hidden;
    border-top-left-radius: 120px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 120px;
    border-bottom-left-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 32px 77px;
    @media screen and (max-width: $bp-tablet) {
        margin-left: 20px;
    }
}

&__card {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}