.benefits-section{
    &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 48px;
            padding-bottom: 200px;
            padding-top: 176px;
        }
    
        &__title {
            text-align: center;
        }
    
        &__card {
            width: 316px;
            height: 181px;
            border-radius: 32px;
            text-align: center;
            border: 1px solid blue;
            padding: 24px 32px;
            background-color: var(--primary-color-light);
        }
    
    
        &__list {
            display: flex;
            justify-content: center;
            gap: 56px;
        }
    
        &__icons {
            fill: var(--main-color);
        }

}
