.benefits-section{
    &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 48px;
            padding-bottom: 200px;
            padding-top: 96px;
            @media screen and (max-width: $bp-desktop){
                padding-top: 120px;
                justify-content: center;
                padding-bottom: 100px;
            }
        }
    
        &__title {
            text-align: center;
        }
    
        &__card {
            width: 316px;
            height: 181px;
            border-radius: 32px;
            text-align: center;
            padding: 24px 32px;
            background-color: var(--primary-color-light);
            box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
        }
    
    
        &__list {
            display: flex;
            justify-content: center;
            gap: 56px;
            @media  screen and (max-width: $bp-desktop) {
                flex-direction: column;
                gap: 16px;
                justify-content: center;
                align-items: center;
            }
        }
    
        &__icons {
            fill: var(--main-color);
        }

}
