.change {
    &__container {
            display: flex;
            gap: 30px;
            padding-bottom: 40px;
            padding-top: 50px;
            @media screen and (min-width: $bp-tablet) {
                    gap: 60px;
                }
        }
    
    &__content {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-left: 20px;
            @media screen and (min-width: $bp-desktop) {
                gap: 40px;
            }
        }
    &__text {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 100%;
            @media screen and (min-width: $bp-desktop) {
            font-size: 22px;
            line-height: 1.7;
            }

    }
    &__title {
        @media screen and (max-width: $bp-tablet) {
            text-align: left;
        }
    }

}

.change-images {
    display: flex;
    flex-direction: column;
    position: relative;
        &__image-first,
        &__image-second {
            display: none;
            @media screen and (min-width: $bp-desktop) {
            display: flex;
            border-radius: 50%;
            width: 335px;
            height: 328px;
            }
        }
        &__image-second {
            margin-left: 172px;
        }

        &__icon-first {
            fill: var(--secondary-color-blue);
            position: absolute;
            width: 40px;
            height: 40px;
            top: 300px;
            left: -90px;
            opacity: 0;
            transform: scale(0.5) rotate(0deg);
             @media screen and (min-width: $bp-desktop) {
                left: 90px;
                top: 350px;
            }
        }
    
        &__icon-second {
            fill: var(--main-color);
            position: absolute;
            left: 400px;
            top: 30px;
            opacity: 0;
            transform: scale(0.5) rotate(0deg);
             @media screen and (max-width: $bp-desktop) {
                display: none;
            }
        }
    
        &__icon-third {
            fill: var(--secondary-color-light-brown);
            position: absolute;
            left: 400px;
            top: 280px;
            opacity: 1;
            transform: scale(0.5) rotate(0deg);
            @media screen and (max-width: $bp-desktop) {
                display: none;
            }
        }
    
        &__icon-first,
        &__icon-second,
        &__icon-third {
            animation: spin 1.5s ease-out forwards, spin 4s linear 2s;
        }
}
