.contact-section {
    &__form{
        text-align: center;
        align-items: center;
        background-color: var(--secondary-color-blue);
        width: 423px;
        height: 481px;
        opacity: 1;
        border-radius: 32px;
        padding: 49px 56px;
        background-image: url('../images/contacts-background.png');
        background-color: var(--primary-color-dark);
        @media screen and (max-width: $bp-tablet) {
            width: 320px;
            height: 434px;
            border-radius: 24px;
            padding: 42px 24px;

        }
    }
        &__form-field {
            margin-bottom: 24px;
            @media screen and (max-width: $bp-tablet){
                margin-bottom: 16px;
            }
        }
        &__control {
            padding: 16px 42px;
            width: 100%;
            font-size: 16px;
            line-height: 1.17;
            border: 1px solid var(--color-secondary-dark);
            border-radius: 8px;
            background-color: transparent;
}
}

