.find-section {
&__container {
        display: flex;
        gap: 48px;
        padding-bottom: 90px;
        justify-content: center;
        @media  screen and (max-width:$bp-tablet) {
            flex-direction: column-reverse;
            padding-bottom: 0;
            justify-content: center;
            align-items: center;
        }
    }

    &__map {
            display: flex;
            border-radius: 32px;
            height: 481px;
            width: 605px;
            @media screen and (max-width: $bp-tablet) {
                width: 100%;
                border-radius: 0;
                padding-left: 0;
                padding-right: 0;
                height: 232px;
                overflow: hidden;
            }
        }
    &__title {
        text-align: center;
        padding-bottom: 40px;
        @media screen and (max-width: $bp-tablet) {
            padding-bottom: 24px;
        }
    }

}


