
.footer {
    background-image: url('../images/footer-background.png');
    background-color: var(--primary-color-dark);

    &__container {
            display: flex;
            gap: 40px;
            padding-top: 56px;
            justify-content: space-between;
            align-items: flex-start;
        }
    
        &__nav,
        &__address {
            display: flex;
            flex-basis: 50%;
            gap: 20px;
        }
    
        &__logo,
        &__menu {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
        &::after {
            position: absolute;
            content: '';
            background-image: url('../images/footer-bottles.png');
            width: 250px;
            height: 150px;
            background-size: 100%;
            right: 0;
            bottom: 0;
        }
        &__link-footer {
            color: var(--primary-color-light);
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            transition: color 0.2s;
            &:hover {
                    color: var(--main-color);
                    list-style-type: none;
                }
        }
                &__address-list,
                &__address-info {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                }
        
                &__address-link {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--primary-color-light);
                    text-decoration: none;
                    transition: color 0.2s;
                    &:hover {
                            color: var(--main-color);
                        }
                }

        
                &__address-socials-icons {
                    display: flex;
                    fill: var(--primary-color-light);
                    flex-direction: row;
                    gap: 24px;
                    transition: color 0.2s;
                }
        
                &__address-socials-icon{
                    &:hover {
                            fill: var(--main-color);
                        }
                }
        
                &__address-copyright {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 13px;
                    color: var(--secondary-color-light-brown);
                }
}





