.form-terms {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    max-width: 220px;
    margin: 0 auto;
    color: var(--secondary-color-light-brown);
    &__link {
            color: var(--secondary-color-light-brown);
            text-underline-offset: 2px;
        }
}

