.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1, 31, 74, 0.4);
    color: var(--primary-color-light);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s, visibility 0.2s;
    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
}

.modal {
    background-image: url('../images/modal-background.png');
    background-color: var(--primary-color-dark);
    position: relative;
    width: 100%;
    height: 100%;
    width: 723px;
    height: 681px;
    background-color: var(--primary-color-dark);
    border-radius: 48px;
    padding: 30px 0;
    overflow-y: auto;
    gap: 40px;
    text-align: center;
    &__form-field {
            margin-bottom: 24px;
        }
    &__btn-close {
        position: absolute;
        cursor: pointer;
        top: 40px;
        right: 40px;
    }
        &__title {
            padding-bottom: 35px;
        }
    
        &__text {
            padding-bottom: 20px;
            font-weight: 600;
            font-size: 22px;
        }
        &__button {
            border: 2px solid var(--main-color);
            border-radius: 32px;
            width: 281px;
            height: 53px;
            margin: 0 auto 24px;
            display: block;
    
            &:hover {
                border-color: var(--main-color);
                color: var(--primary-color-light);
                background-color: var(--secondary-color-blue);
            }
        }
        &__text.contact {
            color: var(--primary-color-light);
            font-size: 22px;
        }
}

