.procedures {
    &__slider {
            display: flex;
            gap: 32px;
            align-items: center;
        }
&__container {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    &__title {
        text-align: center;
    }
    &__swiper-wrapper {
        display: flex;
            gap: 30px;
    }
}

