.procedures {
    &__slider {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__container {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-bottom: 30px;
        overflow: hidden;
    }

    &__title {
        text-align: center;
        margin-bottom: 48px;
    }

    &__swiper-wrapper {
        display: flex;
        gap: 30px;
    }
}

